<!DOCTYPE html>
<html lang='en'>
 <head>
 <meta charset="utf-8">
 <title>Current time</title>
 </head>
 <body>
    <form action="save" method="POST">
        <h1>Session</h1>
        <label>Key</label>
        <input type="text" name="key" placeholder="key"/>
        <label>Value</label>
        <input type="text" name="value" placeholder="value"/>
        <input type="submit"/>
    </form>

    <table>
        <th>
            <td>Key</td>
            <td>Value</td>
        </th>
        <% for(key in cookies) {%>
            <tr>
                <td>
                    <%= key %>
                </td>
                <td>
                    <%= cookies[key] %>
                </td>
            </tr>
        <% } %>
    </table>
 </body>
</html>