<!DOCTYPE html>
<html lang='en'>
 <head>
 <meta charset="utf-8">
 <title>Current time</title>
 </head>
 <body>
    <table>
        <th>
            <td><%= name %></td>
            <td><%= age %></td>
        </th>
    </table>
 </body>
</html>