.form-container {
  position: fixed;
  bottom: 1vh;
  left: 1vh;
  border: 1px solid #eee;
  padding: 10px;
  border-radius: 10px;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.button-container {
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
  z-index: 1000;
}

.button-container button {
  flex-grow: 1;
}

.circle-class {
  position: absolute;
  border-radius: 50%;
}

label {
  margin-top: 5px;
}

input {
  margin-top: ;
}